.productItem {
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    height: auto;
    vertical-align: top;
    text-align: center;
}

.productItem img {
    padding: 5px;
}

.productItem h3 {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}

.homepage {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.productItem-starRating img {
    height: 20px;
    width: 20px;
}

.categoryItem {
    width: auto;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    background-color: aliceblue;
}

.loaderDiv svg {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.active {
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: black;
}

.productItem:hover {
    background-color: lightcyan;
}

.productPage-main {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px
}

.productPage-main img {
    margin-left: 30px;
}

.productPage-main div {
    display: inline-block;
    width:45%;
    height: auto;
    vertical-align: top;
    margin:5px;
}

.productPage-details img {
    height: 25px;
    width: 25px;
    margin: 2px;
    vertical-align:middle;
}

.productPage-quantity {
    width:25px;
    height:25px;
    padding-left:15px;
    font-size: 13px;
    font-weight: 500;
}

.quantity {
    height: 35px;
    width: 35px;
    margin:2px;
    border-radius: 5px;
    background-color: aliceblue;
}

.productPage-addBtn {
    display: block;
    margin:10px;
    font-size: 13px;
    height: 30px;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}

.cartBtn {
    float:right;
    margin-top:-50px;
    height: 40px;
    width: 40px;
  }
  
  .cartBtn img {
    height: 90%;
    width: 90%;
  } 
  
  .cart {
    position: fixed;
    top:0;
    right:0;
    height: 100%;
    width: 0%;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.8s;
    text-align: center;
    }
  
  .closeBtn {
    position: absolute;
    right:25px;
    margin-left: 30px;
  }
  
  .closeBtn:hover {
    background-color: white !important;
  }

  .cart-item {
      padding: 5px;
      border-bottom: 1px dotted black;
      width:80%;
      margin-left: auto;
      margin-right: auto;
  }

.cart-item-image, .cart-item-details {
    display: inline-block;
    width: 45%;
    margin:5px;
}